# Special host names using Regular Expression
# hostname                                                                theme
#------------------------------------------------------------------------------------
#(scp|sdp|sfe|pcef|ip)(kt|kbb|smg|kbl|slp|rkt)[[:digit:]]*                euckr
#scpkt*                                                                   euckr
#scpkt[1-3]*                                                              euckr
#scpkt4a                                                                  utf8
